.dependabot
.github
.gradle
.idea
bin
ccd-definition
charts
civil-unspecified-docker
config
docker
functional-output
gradle
infrastructure
node_modules
output
sendgrid-client
src
target

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store
